body {
  max-width: 1080px;
  margin: 0 auto;
  min-width: 500px;
  
  --site-border-color: purple;
  --mealtime-border-color: #149268;
  --summary-border-color: blue;
}

.site-header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border: solid 1px var(--site-border-color);
  border-bottom-width: 0;
}

.site-title {
  display: inline-block;
  font-size: 26px;
  margin: 5px 15px; 
  flex-grow: 1;
}

.links-container {
  display: flex;
  align-items: center;
  flex-grow: 0;
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  border-left: solid 1px var(--site-border-color);
  padding: 0 10px;
}

.link a {
  text-decoration: none;
  font-size: 18px;
}

.input-container {
  border: solid 1px var(--site-border-color);
  border-bottom-width: 0;
}

.page-title {
  text-align: center;
}

.input-container__gender {
  padding: 0 1% 1%;
}

.input-container__gender-label {
  font-size: 18px;
  margin-right: 10px;
}

.input-container__username-container-label {
  margin-left: 50px;
  margin-right: 10px;
}

.input-container__username {
  display: inline-block;
}

.input-container__add-username {
  display: inline-block;
  margin-left: 10px;
}

.input-container__new-username {
  display: none;
}

.input-container__cancel-username {
  display: none;
  margin-left: 10px;
}

.input-container__username-container_new-user .input-container__username,
.input-container__username-container_new-user .input-container__add-username {
  display: none;
}

.input-container__username-container_new-user .input-container__new-username,
.input-container__username-container_new-user .input-container__cancel-username {
  display: inline-block;
}

.input-container__date {
  padding: 0 1% 1%;
  font-weight: bold;
}

.input-container__date-label {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.input-container__date input, 
.input-container__date select {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 1px;
  border: solid 1px lightgray;
  height: 24px;
  box-sizing: border-box;
}

.input-date__day {
  width: 25px;
}

.input-date__month {
  width: 95px;
}

.input-date__year {
  width: 45px;
}

.mealtime-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.mealtime {
  border: solid 1px var(--mealtime-border-color);
  border-radius: 8px;
  min-width: 300px;
  width: 48.5%;
  margin-bottom: 10px;
  background-color: #57fbc438;
}

.mealtime__header {
  text-align: center;
}

.mealtime__food-list {
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 15px;
  border-top: solid 1px var(--mealtime-border-color);
  border-bottom: solid 1px var(--mealtime-border-color);
  background-color: white;
}

.mealtime__food {
  display: flex;
  border-bottom: solid 1px var(--mealtime-border-color);
}

.mealtime__food:last-child {
  border-bottom: none;
}

.mealtime__food-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  padding: 5px;
}

.mealtime__food-image {
  height: 40px;
}

.mealtime__food-description {
  padding: 5px 10px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.mealtime__food-name {
  flex-grow: 1;
}

.mealtime__food-amount-container {
  width: 85px;
}

.mealtime__food-amount {
  width: 50px;
}

.mealtime-save {
  padding-bottom: 1%;
  text-align: center;
}

.mealtime-save__button {
  font-size: 18px;
  font-weight: bold;
  color: blue;
  padding: 5px 15px;
}

.messages-container {
  display: none;
  border: solid 1px var(--site-border-color);
  border-bottom-width: 0;
  padding: 1%;
}

.messages-container_visible {
  display: block;
}

.message {
  display: flex;
  border-bottom: solid 1px var(--mealtime-border-color);
  padding: 6px;
  color: red;
  font-weight: bold;
}

.message:last-child {
  border-bottom: none;
}

.summary-container {
  border: solid 1px var(--site-border-color);
  padding: 1%;
}

.table-container {
  display: flex;
  justify-content: center;
}

.table {
  border: solid 1px var(--summary-border-color);
  border-collapse: collapse;
  max-width: 97%;
}

.table__row_summary .table__cell {
  font-weight: bold;
}

.table__row_deviation .table__cell {
  color: red;
  font-weight: bold;
}

.table__row-header {
  text-align: left;
}

.table__column-header {
  text-align: center;
}

.table__cell {
  border: solid 1px var(--summary-border-color);
  padding: 3px 10px;
}

td.table__cell {
  text-align: right;
}
  
.result {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #1a4e1a;
  font-size: 18px;
}

.result_with-deviation {
  color: #ef0000;
  font-weight: bold;
}

.result-container {
  padding: 10px;
}

.result_with-deviations {
  color: #ff1919;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

.about-program {
  border: solid 1px var(--site-border-color);
}

.about-program__header {
  background-color: #fff7d9d4;
}

.about-program__header-image {
  width: 100%;
}
.link-to-project {
  text-align: center;
  font-size: 15pt;
  padding-bottom: 6px;
}

.about-program__body {
  border-top: solid 1px var(--site-border-color);
  padding: 7px;
  font-size: 13pt;
  background-color: #f0ffffab;
}

.conclusion {
  text-align: center;
  color: #5d5d5d;
  border: solid 1px gray;
  margin: 0;
  border-radius: 7px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: none;
  padding: 7px;
}

.name {
  font-weight: bold;
}

.composition-table-container {
  border: solid 1px var(--site-border-color);
  padding: 1%;
  display: flex;
  justify-content: center;
  background-color: #ffff003b;
}

.composition-table {
  border-color: bisque;
  border-collapse: collapse;
  max-width: 97%
}

.composition-table__cell {
  border: solid 1px #ffbf0ce3;
  padding: 3px 8px;
}